---
import Layout from '../layouts/Layout.astro';
import BurgerHero from '../components/BurgerHero.astro';
import QuienesSomos from '../components/AboutSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bite & Smash">
  <main class="bg-[#050505]">
    <BurgerHero />
    <QuienesSomos />
    <Footer />
  </main>
</Layout>

<style>
  main {
    scroll-behavior: smooth;
  }
</style>